<div class="container text-center">

  <p>Aqui vemos el detalle de un destino de un viaje!</p>
  <hr>
  <p>
    <br> {{ destino.id }}
    <br> {{ destino.nombre }}
  </p>

  <hr>
  <mgl-map [style]="style" [zoom]="[1]" >
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
      <div onclick="alert('Hola')" class="marker">
        Hola mundo!
      </div>
    </mgl-marker>
  </mgl-map>

</div>
