<div class="container">
    <p>reservas-listado works!</p>
    <a class="nav-item nav-link" [routerLink]="['./', 10]">Ir a detalle</a>
    <a class="nav-item nav-link" [routerLink]="['/login']">Ir login</a>

    <div *ngFor="let r of varApiService.getAll()">
        {{r.id}} - {{r.name}}
    </div>

</div>
